[frames]
top.type=texture
top.frame=single
bottom.type=color
bottom.frame=single

[textures]
top.image=IMG_2469_2.png

[colors]
bottombgoutercolor.dark=0x000000
bottombgoutercolor.main=0x1d0071
bottombgoutercolor.light=0xffffff
bottombginnercolor.dark=0x000000
bottombginnercolor.main=0x000000
bottombginnercolor.light=0x000000
bottombginnercolor.shadow=0x0000000
cursorcolor.dark.hidden=0x000000
cursorcolor.main.hidden=0x000000
cursorcolor.light.hidden=0x000000
cursorcolor.glow.hidden=0x000000
foldercolor.dark.hidden=0x000000
foldercolor.main.hidden=0x000000
foldercolor.light.hidden=0x000000
foldercolor.shadow.hidden=0x000000
filecolor.dark.hidden=0x000000
filecolor.main.hidden=0x000000
filecolor.light.hidden=0x000000
filecolor.shadow.hidden=0x000000ff
open.textshadowpos.hidden=0
open.dark.hidden=0x000000
open.main.hidden=0x000000
open.light.hidden=0x000000
open.glow.hidden=0x000000
open.shadow.hidden=0x000000ff
open.textshadow.hidden=0x000000
open.textmain.hidden=0x000000
open.textselected.hidden=0x000000
close.textshadowpos.hidden=0
close.dark.hidden=0x000000
close.main.hidden=0x000000
close.light.hidden=0x000000
close.glow.hidden=0x000000
close.shadow.hidden=0x000000ff
close.textshadow.hidden=0x000000
close.textmain.hidden=0x000000
close.textselected.hidden=0x000000
folderarrowcolor.textshadowpos=0
folderarrowcolor.dark.hidden=0x000000
folderarrowcolor.main.hidden=0x000000
folderarrowcolor.light.hidden=0x000000
folderarrowcolor.glow.hidden=0x000000
folderarrowcolor.shadow.hidden=0x000000ff
folderarrowcolor.textshadow.hidden=0x000000
folderarrowcolor.textmain.hidden=0x000000
folderarrowcolor.textselected.hidden=0x000000
arrowbuttoncolor.dark.hidden=0x000000
arrowbuttoncolor.main.hidden=0x000000
arrowbuttoncolor.light.hidden=0x000000
arrowbuttoncolor.shadow.hidden=0x000000ff
arrowcolor.border.hidden=0x000000
arrowcolor.unpressed.hidden=0x000000
arrowcolor.pressed.hidden=0x000000
bottomcornerbuttoncolor.dark.hidden=0x000000
bottomcornerbuttoncolor.main.hidden=0x000000
bottomcornerbuttoncolor.light.hidden=0x000000
bottomcornerbuttoncolor.shadow.hidden=0x000000
bottomcornerbuttoncolor.iconmain.hidden=0x000000
bottomcornerbuttoncolor.iconlight.hidden=0x000000
bottomcornerbuttoncolor.icontextmain.hidden=0x000000
topcornerbuttoncolor.main.hidden=0x000000
topcornerbuttoncolor.light.hidden=0x000000
topcornerbuttoncolor.shadow.hidden=0x000000
topcornerbuttoncolor.textmain.hidden=0x000000
folderbgcolor.dark.hidden=0x000000
folderbgcolor.main.hidden=0x000000
folderbgcolor.light.hidden=0x000000
folderbgcolor.shadow.hidden=0x000000ff
gametext.main.hidden=0x000000
gametext.light.hidden=0x000000
gametext.shadow.hidden=0x000000ff
gametext.textmain.hidden=0x000000
demotextcolor.main.hidden=0x000000
demotextcolor.textmain.hidden=0x000000
